target
node_modules
*.node
Cargo.lock
*.log
.swc
.DS_Store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo
*.tsbuildinfo
optimized*
lib
dist
output-exif.*
!output-exif.no-rotate.image.webp
!output-exif.image.webp
nasa-small.*
