[package]
edition = "2024"
name    = "napi_rs_image"
version = "0.0.0"

[lib]
crate-type = ["cdylib"]

[[bin]]
name = "logo"
path = "logo.rs"

[features]
default            = ["oxipng/parallel"]
oxipng_libdeflater = ["oxipng/zopfli", "oxipng/parallel"]
with_simd          = ["mozjpeg-sys/nasm_simd_parallel_build"]

[dependencies]
fast_image_resize = { version = "6", features = ["image"] }
image             = { version = "0.25", default-features = false, features = ["jpeg", "ico", "png", "pnm", "tga", "tiff", "bmp", "webp", "hdr", "dds"] }
imagequant        = "4.0.0"
jpeg-decoder      = "0.3"
libavif           = { version = "0.14", default-features = false, features = ["codec-aom"] }
libc              = "0.2"
lodepng           = "3"
napi              = { version = "3.0.0", default-features = false, features = ["napi3"] }
napi-derive       = { version = "3.0.0", default-features = false, features = ["type-def"] }
num-complex       = "0.4"
num_cpus          = "1"
once_cell         = "1"
png               = "0.18"
resvg             = "0.46"
rexif             = "0.7"
rgb               = "0.8"
svgtypes          = "0.16"

  [dependencies.oxipng]
  default-features = false
  version          = "10"

  [dependencies.mozjpeg-sys]
  default-features = false
  version          = "2"

[target.'cfg(not(all(target_os = "macos", target_arch = "x86_64")))'.dependencies]
libwebp-sys = { version = "0.14", default-features = false, features = ["std", "parallel", "avx2", "sse41", "neon"] }

[target.'cfg(all(target_os = "macos", target_arch = "x86_64"))'.dependencies]
libwebp-sys = { version = "0.14", default-features = false, features = ["std", "parallel", "generate-bindings"] }

[build-dependencies]
napi-build = "2"
